; This file contains the configurable file paths to point to the various input sources that Gidget uses,
; as well as some other options. Previously, these options were read from system environment variables.
; The old env var names have been preserved in this config file so that existing documentation will still
; apply to these options. See "<gidget root>/config/required_env_vars" and "<gidget root>/doc/FileLayout.md"
; for more information about each option.

; NOTE: Gidget will perform external env variable substitution on all paths given in this file. Therefore, line such as:
;   foo=$HOME/blah/blah
; will behave as expected

[gidget]
GIDGET_SOURCE_ROOT=TODO

[maf]
TCGAMAF_OUTPUTS=TODO
TCGAMAF_DATA_DIR=TODO
TCGAMAF_REFERENCES_DIR=TODO

[binarization]
TCGABINARIZATION_DATABASE_DIR=TODO
TCGABINARIZATION_REFERENCES_DIR=TODO

[fmp]
TCGAFMP_PYTHON3=TODO
TCGAFMP_BIOINFORMATICS_REFERENCES=TODO
TCGAFMP_SCRATCH=TODO
TCGAFMP_DCC_REPOSITORIES=TODO
TCGAFMP_FIREHOSE_MIRROR=TODO
TCGAFMP_PAIRWISE_ROOT=TODO
TCGAFMP_LOCAL_SCRATCH=TODO
TCGAFMP_CLUSTER_SCRATCH=TODO
TCGAFMP_CLUSTER_HOME=TODO

[python]
TCGAMAF_PYTHON_BINARY=TODO

[tools]
TCGAMAF_TOOLS_DIR=TODO
LD_LIBRARY_PATH=TODO
