[main]
cancerDirNames=acc,blca,brca,cesc,cntl,coad,dlbc,esca,gbm,hnsc,kich,kirc,kirp,laml,lcll,lgg,lihc,lnnh,luad,lusc,ov,paad,prad,read,sarc,skcm,stad,thca,ucec,lcml,pcpg,ucs
tumorTypes=all
platformID=broad.mit.edu/genome_wide_snp_6/snp/
outSuffix=may30_new
out_directory=.
mage_tab_dir_indicator=mage-tab
sdrfExt=sdrf.txt

[technology_type_factory]
bcgsc.ca/illuminaga_rnaseq/rnaseq/=bcgsc_ca_illuminaga_rnaseq
bcgsc.ca/illuminaga_mirnaseq/mirnaseq/=bcgsc_ca_illuminaga_mirnaseq
bcgsc.ca/illuminahiseq_rnaseq/rnaseq/=bcgsc_ca_illuminahiseq_rnaseq
bcgsc.ca/illuminahiseq_mirnaseq/mirnaseq/=bcgsc_ca_illuminahiseq_mirnaseq
broad.mit.edu/genome_wide_snp_6/snp/=broad_mit_edu_genome_wide_snp_6
genome.wustl.edu/genome_wide_snp_6/snp/=genome_wustl_edu_genome_wide_snp_6
broad.mit.edu/ht_hg-u133a/transcriptome/=broad_mit_edu_ht_hg-u133a
jhu-usc.edu/humanmethylation27/methylation/=jhu-usc_edu_humanmethylation27
jhu-usc.edu/humanmethylation450/methylation/=jhu-usc_edu_humanmethylation450
mdanderson.org/mda_rppa_core/protein_exp/=mdanderson_org_mda_rppa_core
nationwidechildrens.org/microsat_i/fragment_analysis/=nationwidechildrens_org_microsat_i
unc.edu/agilentg4502a_07_1/transcriptome/=unc_edu_agilentg4502a_07_1
unc.edu/agilentg4502a_07_2/transcriptome/=unc_edu_agilentg4502a_07_2
unc.edu/agilentg4502a_07_3/transcriptome/=unc_edu_agilentg4502a_07_3
unc.edu/illuminaga_rnaseq/rnaseq/=unc_edu_illuminaga_rnaseq
unc.edu/illuminahiseq_rnaseq/rnaseq/=unc_edu_illuminahiseq_rnaseq
unc.edu/illuminahiseq_rnaseqv2/rnaseqv2/=unc_edu_illuminahiseq_rnaseqv2
unc.edu/h-mirna_8x15k/mirna/=unc_edu_h-mirna_8x15k
clinical/=clinical

[technology_type]
root_dir=<path to tcga_platform_genelists>
baseDirectoryBranch=public
topdir=<TCGA repository path>/repositories/%s/%s/tumor/%s/cgcc/%s
snapshot=dcc-snapshot-smr1
matrix=
fm_data_type=N
platformdesign=
excludepiece=
dirLevel=Level_3
token_index_column_count=-1
token_gene_index=0
token_datum_index=1
sort_row_flag = 1
sort_col_flag = 1
hasSDRF=true

[unc_edu_agilentg4502a_07]
data_header_lines=2
fm_feature_type=GEXP
fm_platform_type=array

[unc_edu_agilentg4502a_07_1]
token_index_column_count=-1,44
iLevel3 = 40,41
iBarcode = 0,0
iFilename = 38,39
iArchive = 42,43
iYes = 41,42
iOther = 16,17
platformdesign=%s/tcga_platform_genelists/agilentg4502a_07_1_design_2013_12_12.txt
techType=AgilentG4502A_07_1

[unc_edu_agilentg4502a_07_2]
token_index_column_count=-1,44
iLevel3 = 40,41
iBarcode = 0,0
iFilename = 38,39
iArchive = 42,43
iYes = 41,42
iOther = 16,17
platformdesign=%s/tcga_platform_genelists/agilentg4502a_07_23_design_2013_12_12.txt
techType=AgilentG4502A_07_2

[unc_edu_agilentg4502a_07_3]
token_index_column_count=43,44,46,47
iLevel3 = 40,41,42,43
iBarcode = 0,0,0,0
iFilename = 38,39,40,41
iArchive = 42,43,44,45
iYes = 41,42,43,44
iOther = 16,17,16,17
platformDesign=%s/tcga_platform_genelists/agilentg4502a_07_23_design_2013_12_12.txt
techType=AgilentG4502A_07_3

[illumina_rnaseq]
data_header_lines=1
iGenomeRef=14
genomeRefOrder=NCBI36.1,GRCh37-lite 
fm_platform_type=seq

[bcgsc_ca_illuminaga_rnaseq]
token_index_column_count=-1,26
iLevel3 = 23,24
iBarcode = 0,1
iFilename = 20,21
iArchive = 24,25
iYes = 21,22
iOther = 19,23
fm_feature_type=GEXP
platformdesign=%s/tcga_platform_genelists/bcgsc_illuminaga_rnaseq_design_%s_2013_12_12.txt
token_datum_index=-1
techType=IlluminaGA_RNASeq

[bcgsc_ca_illuminahiseq_rnaseq]
token_index_column_count=-1,26
iLevel3 = 23,24
iBarcode = 0,1
iFilename = 20,21
iArchive = 24,25
iYes = 21,22
iOther = 19,23
fm_feature_type=GEXP
platformdesign=%s/tcga_platform_genelists/bcgsc_illuminahiseq_rnaseq_design_%s_2013_12_12.txt
token_datum_index=-1
techType=IlluminaHiSeq_RNASeq

[bcgsc_ca_illuminaga_mirnaseq]
# token_index_column_count=-1,26
# iLevel3 = 23,24
# iBarcode = 0,1
# iFilename = 20,21
#=# no archive information ???
# iArchive = -1,25
# iYes = 21,22
# iOther = 22,23
# platformdesign=%s/tcga_platform_genelists/bcgsc_illumina_mirnaseq_design_%s_2013_12_12.txt
# token_datum_index=-2
matrix=true
matrix_script=shscript/expression_matrix_mimat.pl
matrix_adf=<TCGA repository path>/repositories/mirna_bcgsc/tcga_mirna_bcgsc_hg19.adf
matrix_outfile_base=expn_matrix_mimat_norm
matrix_mapping_file=<TCGA repository path>/repositories/mirna_bcgsc/mature.fa.flat.human.mirbase_v19.txt
hasSDRF=false
fm_feature_type=MIRN
techType=IlluminaGA_miRNASeq

[bcgsc_ca_illuminahiseq_mirnaseq]
# token_index_column_count=-1,26
# iLevel3 = 23,24
# iBarcode = 0,1
# iFilename = 20,21
#=# no archive information ???
# iArchive = -1,25
# iYes = 21,22
# iOther = 22,23
# platformdesign=%s/tcga_platform_genelists/bcgsc_illumina_mirnaseq_design_%s_2013_12_12.txt
# token_datum_index=-2
matrix=true
matrix_script=shscript/expression_matrix_mimat.pl
matrix_adf=<TCGA repository path>/repositories/mirna_bcgsc/tcga_mirna_bcgsc_hg19.adf
matrix_outfile_base=expn_matrix_mimat_norm
matrix_mapping_file=<TCGA repository path>/repositories/mirna_bcgsc/mature.fa.flat.human.mirbase_v19.txt
hasSDRF=false
fm_feature_type=MIRN
techType=IlluminaHiSeq_miRNASeq

[unc_edu_illuminaga_rnaseq]
token_index_column_count=-1,26
iLevel3 = 23,24
iBarcode = 0,1
iFilename = 20,21
iArchive = 24,25
iYes = 21,22
iOther = 19,23
fm_feature_type=GEXP
platformdesign=%s/tcga_platform_genelists/illumina_rnaseq_design_2013_12_12.txt
token_datum_index=-1
techType=IlluminaGA_RNASeq

[unc_edu_illuminahiseq_rnaseq]
token_index_column_count=-1,25
iLevel3 = 24,23
iBarcode = 1,0
iFilename = 21,20
iArchive = 25,24
iYes = 22,21
iOther = 20,19
fm_feature_type=GEXP
platformdesign=%s/tcga_platform_genelists/illumina_rnaseq_design_2013_12_12.txt
token_datum_index=-1
techType=IlluminaHiSeq_RNASeq

[unc_edu_illuminahiseq_rnaseqv2]
token_index_column_count=-1,26
iLevel3 = 23,24
iBarcode = 0,1
iFilename = 20,21
iArchive = 24,25
iYes = 21,22
iOther = 22,23
fm_feature_type=GEXP
platformdesign=%s/tcga_platform_genelists/illumina_rnaseqv2_design_2013_12_12.txt
token_datum_index=-1
techType=IlluminaHiSeq_RNASeqV2

[mdanderson_org_mda_rppa_core]
iLevel3 = 60
iBarcode = 4
iFilename = 57
iArchive = 61
iYes = 58
iOther = 59
data_header_lines=2
platformdesign=%s/tcga_platform_genelists/MDA_antibody_annotation_2013_12_16.txt
fm_feature_type=RPPA
fm_platform_type=array
techType=MDA_RPPA_Core

[nationwidechildrens_org_microsat_i]
baseDirectoryBranch=secure
token_index_column_count=-1,14
iLevel1 =  5,6
iLevel3 = -1,-1
iBarcode = 0,1
iFilename = 8,9
iArchive = 9,10
iYes = 12,13
iOther = 10,11
data_header_lines=1
fm_data_type=C
fm_feature_type=SAMP
fm_platform_type=pcr
dirLevel=Level_1
token_feature_2_index=1
token_datum_index=2
techType=microsat_i

[genome_wide_snp_6]
data_header_lines = 1
fm_feature_type = CNVR
fm_platform_type=array
token_datum_index = -1
steplength=1000
cutFrac=0.02
sort_row_flag = 0
sort_col_flag = 1
na_value=-999999
near_zero=0.0001
chr_strip_prefixes=hs,chr
chr_translate=23:X,24:Y
techType=Genome_Wide_SNP_6

[broad_mit_edu_genome_wide_snp_6]
# for finding *.hg19.seg.txt files
#token_index_column_count=-1,101
#iLevel3 = 78,79
#iBarcode = 1,1
#iFilename = 75,76
#iArchive = 76,77
#iYes = 79,80
#iOther = 77,78

# for finding *.nocnv_hg19.seg.txt files
token_index_column_count=100,101
iLevel3 = 96,97
iBarcode = 1,1
iFilename = 93,94
iArchive = 94,95
iYes = 97,98
iOther = 95,96

[genome_wustl_edu_genome_wide_snp_6]
iLevel3 = 54
iBarcode = 1
iFilename = 51
iArchive = 52
iYes = 55
iOther = 53

[broad_mit_edu_ht_hg-u133a]
token_index_column_count=-1,34
iLevel3 = 30,31
iBarcode = 0,1
iFilename = 27,28
iArchive = 28,29
iYes = 31,32
iOther = 26,27
data_header_lines=2
fm_feature_type=GEXP
fm_platform_type=array
platformdesign=%s/tcga_platform_genelists/ht_hg_u133a_design_2013_12_12.txt
techType=HT_HG-U133A

[humanmethylation]
data_header_lines=2
fm_feature_type=METH
fm_platform_type=beadchip
platformdesign=%s/tcga_platform_genelists/featNames.15oct13.hg19.txt

[jhu_usc_edu_humanmethylation27]
tokenIndex0 = 31
## looks like the new data has 33 tokens, and the indices should be 30, 1, 27, 28, 31, 29
## whereas before that there were also 33 tokens, but the indices are: 29, 0, 28, 32, 31, 30
tokenIndices12 = 33
tokenIndex3 = 34
tokenIndex4 = 35
iLevel3 = 29,29,30,30,29
iBarcode = 25,0,1,1,27
iFilename = 26,28,27,29,28
iArchive = 27,32,28,33,32
iYes = 30,31,31,32,31
iOther = 28,30,29,31,30
techType=HumanMethylation27

[jhu_usc_edu_humanmethylation450]
token_index_column_count=-1,33
iLevel3 = 29,30
iBarcode = 25,26
iFilename = 26,27
iArchive = 27,28
iYes = 30,31
iOther = 28,29
needed_num_tokens = 30
techType=HumanMethylation450

[h-mirna_8x15k]
data_header_lines=2
fm_feature_type=MIRN
fm_platform_type=array

[unc_edu_h-mirna_8x15k]
token_index_column_count=-1,32
iLevel3 = 28,29
iBarcode = 25,26
iFilename = 26,27
iArchive = 30,31
iYes = 29,30
iOther = 27,28
platformdesign=%s/tcga_platform_genelists/h_mirna_8x15k_design_2013_12_12.txt
techType=H-miRNA_8x15K

[unc_edu_h-mirna_8x15kv2]
# not used?

[clinical]
baseDirectoryBranch=public
topDir=<TCGA repository path>/repositories/%s/%s/tumor/%s/bcr
#baseDirectoryBranch=secure
#topdir=../test_input/%s/tumor/%s/bcr
addPath=/bio/clin
hasSDRF=false
excludepiece=intgen.org
dirLevel=Level_1
excludeprefix=rx:,rad:
excludesuffix=_text,_notes
excludestrings=_of_form_completion,_followup_barcode,_followup_uuid
includestrings=days_to_,primary_therapy_outcome,followup_treatment_success,additional_treatment_completion_success_outcome
removeprefix=stage 0:r%tis,stage :%,grade :a%g
sharedbarcode=shared:bcr_patient_barcode
logext=.hdr
techType=Clinical
