[main]
tag=11dec13
# this expects subfolders 'diff' and 'out' to exist for <output path>
out_dir=<output path>
platforms=
curcmd=/tools/bin/python2.7 -u <gidget base path>/commands/feature_matrix_construction/main/new_Level3_matrix.py {3}_cur {1} {2} {6} &> {0}/out/{4}{5}_{3}_cur.txt
cursnpcmd=/tools/bin/python2.7 -u <gidget base path>/commands/feature_matrix_construction/main/new_Level3_matrix_MM28may13.py {3}_cur {1} {2} {6} &> {0}/out/{4}{5}_{3}_cur.txt
curmirnacmd=/tools/bin/python2.7 -u <gidget base path>/commands/feature_matrix_construction/main/new_Level3_miRNAseq.py {3}_cur {1} {2} {6} &> {0}/out/{4}{5}_{3}_cur.txt
curclincmd=/tools/bin/python2.7 -u <gidget base path>/commands/feature_matrix_construction/main/parse_all_xml.py {1} {2}_cur {5} &> {0}/out/{3}{4}_{2}_cur.txt
newcmd=/tools/bin/python2.7 -u <gidget base path>/commands/feature_matrix_construction/main/parse_tcga.py {6} {1} {2} {3}_new &> {0}/out/{4}{5}_{3}_new.txt
curfilename={0}.{1}.{2}_cur.tsv
curclinfilename={1}.{0}_cur.tsv
newfilename={0}.{1}.{2}_new.tsv
diffcmd=diff {4}.{2}.{3}_cur.tsv {1}.{2}.{3}_new.tsv > {0}/diff/{1}.{2}.{3}_diff.txt
diffclincmd=diff {4}.{3}_cur.tsv {1}.{2}.{3}_new.tsv > {0}/diff/{1}.{2}.{3}_diff.txt
extended_all=blca_brca_cesc_cntl_coad_coadread_dlbc_esca_gbm_hnsc_kich_kirc_kirp_laml_lcll_lgg_lihc_lnnh_luad_lusc_meso_ov_paad_prad_read_sarc_skcm_stad_thca_ucec
count_config=<gidget base path>/commands/feature_matrix_construction/config/parse_tcga_count.config
parse_config=<gidget base path>/commands/feature_matrix_construction/config/parse_tcga.config
