[main]
tag=26jun13
# this expects subfolders 'diff' and 'out' to exist for <output path>
out_dir=<output path>
# list of (optional) platforms, defaults to all
platforms=
curpath=<path to compare gidget project>
curcmd=PYTHONPATH="{7}/commands/feature_matrix_construction/main:{7}/commands/feature_matrix_construction/util:{7}/gidget/util" /tools/bin/python2.7 -u {7}/commands/feature_matrix_construction/main/parse_tcga.py {6} {1} {2} {3}_cur &> {0}/out/{4}{5}_{3}_cur.txt
newpath=<path to updated gidget project>
newcmd=PYTHONPATH="{7}/commands/feature_matrix_construction/main:{7}/commands/feature_matrix_construction/util:{7}/gidget/util" /tools/bin/python2.7 -u {7}/commands/feature_matrix_construction/main/parse_tcga.py {6} {1} {2} {3}_new &> {0}/out/{4}{5}_{3}_new.txt
curfilename={0}.{1}.{2}_cur.tsv
newfilename={0}.{1}.{2}_new.tsv
diffcmd=diff {4}.{2}.{3}_cur.tsv {1}.{2}.{3}_new.tsv > {0}/diff/{1}.{2}.{3}_diff.txt
extended_all=blca_brca_cesc_cntl_coad_coadread_dlbc_esca_gbm_hnsc_kich_kirc_kirp_laml_lcll_lgg_lihc_lnnh_luad_lusc_meso_ov_paad_prad_read_sarc_skcm_stad_thca_ucec
# this config currently should differ from the regular config by not using expression_matrix_mimat.pl for miRNA
count_config=<path to count config>/parse_tcga_count.config
parse_config=<path to config>/parse_tcga.config
